* {
margin: auto;
}


main .title {
		font-size: 38.34pt;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
	}

main .subhead {
		font-size: 10.7pt;
		font-family: 'Georgia', serif;
		font-variant: small-caps;
	}

main .intro {
	font-size: 10.7pt;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

main .sidenote {
			font-size: 7.431pt;
		font-family: 'Georgia', serif;
		font-weight: normal;
	}


main .crosshead {
		font-size: 10.7pt;
		font-family: 'Open Sans', sans-serif;
	}

main .bodycopy {
		font-size: 9pt;
		font-family: 'Georgia', serif;
	}
}

main .qna {
	font-size: 7.5pt;
	font-family: 'Georgia', serif;
	font-weight: normal;
	font-style: italic;
}